<div class="sidebar">
        
        <div class="sidebar-section">
            <h5><span>Newsletter</span></h5>
            {% include newsletter.html %}
        </div>
            
        <div class="sidebar-section">
            <h5><span>Useful</span></h5>
            <ul style="list-none;">
            <li><a target="_blank" href="https://academy.hubspot.com/">Hubspot Academy</a></li>
            <li><a target="blank" href="https://www.socialmediatoday.com/">Social Media Today</a></li>
            <li><a target="blank" href="https://www.littlebirdmarketing.com/">Little Bird Marketing</a></li>
            <li><a target="blank" href="http://www.trendspottr.com/">Trendspottr</a></li>
            <li><a target="blank" href="https://artdriver.com/">Artdriver</a></li>
            </ul>
        </div>
            
        <div class="sidebar-section">
             <h5><span>Recommended</span></h5>
           <a href="https://www.facebook.com/business/learn/courses" title="Sell digital downloads with WordPress, for free"><img src="{{ site.baseurl }}/assets/images/facebook.png" alt="Learn how to run ads on facebook, for free" /></a>
        </div>
            
</div>
